* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

/* ---------------------------------- font -------------------------- */
.stylest-front {
    font-family: "Pacifico", cursive;
}

/* ------------------------------- brand colors -------------------- */
.light-dark {
    background-color: #f1c22e;
}
.top-menu-icon-bg {
    background-color: #13ac9b;
}
/* ----------------------------------- common global code ------------------- */
.a-hover {
    text-decoration: none;
    color: black;
}

.a-btn {
    background-color: black;
    color: white;
    transition: 0.5s ease-out;
}

.a-btn:hover {
    background-color: white;
    color: black;
}

.full-rounded {
    border-radius: 50px;
}

.element-hover:hover {
    width: 103% !important;
    transition: 0.5s linear;
    opacity: 90%;
    background-color: rgb(183, 58, 10px, 58);
}

.left-border {
    border-left: 5px solid gray;
}

.border-redius-top {
    border-radius: 20px 20px 0px 0px;
}

.border-small {
    border: 2px solid gray;
}

.tag-a {
    color: blue;
    transition: 0.5s linear;
    text-decoration: none;
}

.tag-a:hover {
    color: wheat;
    background-color: blue;
}
/* --------------------------------------------- for menu  */
.sub-menu {
    background-color: #fd4d40;
    position: absolute;
    z-index: 10;
    width: 200px;
    display: none;
    transition: 0.5s ease-out;
}

.sub-menu li {
    list-style: none;
}

.menu-hover:hover > .sub-menu {
    display: block;
}

.sub-menu-item {
    color: white;
}

.sub-menu-item:hover {
    background-color: black;
}

/* ############################# home page start here ######################### */
/* --------------- slider  */
.custom-slider-item {
    height: 600px;
    background-color: black;
    position: relative;
}

.custom-slider-item img {
    opacity: 50%;
    height: 600px;
    width: 100%;
    display: block;
}

.slider-content {
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
}

.slider-content div {
    width: 60%;
    margin: auto;
    margin-top: 120px;
}

.slider-content h1 {
    font-size: 70px;
    font-weight: bolder;
}

.slider-content a {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 40px;
    display: inline-block;
    background-color: #f1c22e;
    text-decoration: none;
    transition: 0.5s linear;
}

.slider-content a:hover {
    background-color: black;
    color: white;
}

.hero-bottom-box {
    margin-top: -100px;
}

.hero-bottom-single-box {
    background-color: #fd4d40;
}

.hero-bottom-single-box:nth-child(2) {
    background-color: #f1c22e;
}

.hero-bottom-single-box:nth-child(3) {
    background-color: #16c3b0;
}

.hero-bottom-img-box,
.hero-bottom-img-box2,
.hero-bottom-img-box3 {
    height: 80px;
    width: 80px;
    margin: auto;
    margin-top: -50px;
    border-radius: 40px;
    background-color: #fd4d40;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-bottom-img-box2 {
    background-color: #f1c22e;
}

.hero-bottom-img-box3 {
    background-color: #16c3b0;
}

.hero-bottom-single-box a {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 40px;
    display: inline-block;
    background-color: #f1c22e;
    text-decoration: none;
    transition: 0.5s linear;
}

.hero-bottom-single-box a:hover {
    background-color: black;
    color: white;
}

/* -------------------------- welcome section-------------------- */
.welcome-content a {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 40px;
    display: inline-block;
    background-color: #f1c22e;
    text-decoration: none;
    transition: 0.5s linear;
}

.welcome-content a:hover {
    background-color: black;
    color: white;
}

/* -------------------------- analize section-------------------- */
.analize {
    background-color: black;
    position: relative;
}
.analize img {
    width: 100%;
    height: 300px;
    opacity: 50%;
}

.analize > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
}

.roted,
.roted2,
.roted3,
.roted4 {
    height: 100px;
    width: 100px;
    transform: rotate(45deg);
    background-color: #fd4d40;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}

.roted2 {
    background-color: #f1c22e;
}

.roted3 {
    background-color: #16c3b0;
}

.roted4 {
    background-color: #2db3d9;
}

.roted h1,
.roted2 h1,
.roted3 h1,
.roted4 h1 {
    transform: rotate(-45deg);
    color: white;
}

/* -------------------------- program section-------------------- */
.program > a {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 40px;
    display: inline-block;
    background-color: #f1c22e;
    text-decoration: none;
    transition: 0.5s linear;
}

.program > a:hover {
    background-color: white;
    color: black;
}

.program-single-box {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -3px 5px 10px 2px rgb(212, 203, 203);
}

/* -------------------------- why choose us section-------------------- */

.whychooseus {
    background: url(https://html.rometheme.pro/kids/images/school2.jpg);
    background-size: 100%;
}

.wcu-icon {
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 40px;
}

/* -------------------------- gelary section-------------------- */

.gelary-img-box {
    background-color: black;
    height: 300px;
    transition: 0.5s linear;
    position: relative;
}

.gelary-img-box > img {
    height: 300px;
    width: 100%;
    transition: 0.5s linear;
}

.gelary-image:hover {
    opacity: 50%;
}

.hover-box:hover > .gelary-image {
    opacity: 50%;
}

.gelary-img-box:hover > .gelary-image {
    opacity: 50%;
}

.gelary-img-box > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.5s linear;
    display: none;
}

.gelary-img-box:hover > .hover-box {
    display: flex;
}

.gelary-img-box div:hover > .hover-box {
    display: flex;
}

/* -------------------------- event section-------------------- */

.event {
    background: url(https://html.rometheme.pro/kids/images/event-bg.png);
    background-size: 100%;
}

.single-event-box {
    border-radius: 20px;
    box-shadow: -3px 5px 10px 2px rgb(212, 203, 203);
}

.event-box-content h5 {
    color: blue;
    font-size: 15px;
    padding: 5px 0;
}

.event-box-content a {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 40px;
    display: inline-block;
    background-color: #f1c22e;
    text-decoration: none;
    transition: 0.5s linear;
}

.event-box-content a:hover {
    background-color: white;
    color: black;
}

/* -------------------------- testimonials section-------------------- */

.testimonials-slider-img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    display: inline-block;
    border: 10px solid gray;
}

/* -------------------------- footer section-------------------- */
.contract-section {
    background-color: #16c3b0;
}

.footer-header-a {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 15px 60px;
    border-radius: 40px;
    display: inline-block;
    background-color: #f1c22e;
    text-decoration: none;
    transition: 0.5s linear;
}

.contract-section a:hover {
    color: black;
}

.footer-menu {
    background: url(https://html.rometheme.pro/kids/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-option-a {
    color: #3bab9e;
    text-decoration: none;
    padding: 10px 0;
}

.footer-icon-bg {
    border-radius: 50px;
    transition: 0.5s linear;
    padding: 40px 30px;
}

.footer-icon-bg:hover {
    background-color: brown;
    color: white;
}

/* ########################################### starting about us page #################### */
/* ---------------------------- about us header section  */
.aboutusheader {
    background: url(https://html.rometheme.pro/kids/images/banner-single.jpg);
}

/* ########################################### starting contract page #################### */

.sendmsgbtn {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 15px 60px;
    border-radius: 40px;
    display: inline-block;
    background-color: #f1c22e;
    text-decoration: none;
    transition: 0.5s linear;
}

.sendmsgbtn:hover {
    background-color: black;
    color: white;
}

/* ########################################### starting 404 page #################### */
.error404 {
    font-size: 150px;
    font-weight: bolder;
    font-family: cursive;
    letter-spacing: 10px;
}

.error-page-a {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 40px;
    display: inline-block;
    background-color: #f1c22e;
    text-decoration: none;
    transition: 0.5s linear;
}

.error-page-a:hover {
    background-color: black;
}

/* ########################################### starting single event page #################### */

.event-join-a {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 40px;
    display: inline-block;
    background-color: #f1c22e;
    text-decoration: none;
    transition: 0.5s linear;
}

.event-join-a:hover {
    background-color: black;
}

/* ########################################### starting single news page #################### */

.single-newx-right-a {
    text-align: left;
    font-size: 15px;
    display: block;
    text-decoration: none;
    transition: 0.5s linear;
    color: black;
    font-weight: bolder;
}

.single-newx-right-a:hover {
    background-color: rgb(220, 227, 227);
}
